<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>542835924148-ieoaebjq15jnl8sbrcjs05okemm5j0sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542835924148-ieoaebjq15jnl8sbrcjs05okemm5j0sa</string>
	<key>API_KEY</key>
	<string>AIzaSyC09pqenn48qnAnsO8kl6AZ1Bfzza-NO20</string>
	<key>GCM_SENDER_ID</key>
	<string>542835924148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.harvard.WitnessChain</string>
	<key>PROJECT_ID</key>
	<string>witnesschain</string>
	<key>STORAGE_BUCKET</key>
	<string>witnesschain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542835924148:ios:dd3132e8204c2b94</string>
	<key>DATABASE_URL</key>
	<string>https://witnesschain.firebaseio.com</string>
</dict>
</plist>